<header>
  <div>
    <a>
      <svg>
        <use href="./images/icons.svg#icon-logo">
        </use>
      </svg>
    </a>
    <ul>
      <li><a>Studying program</a></li>
      <li><a>About</a></li>
      <li><a>Training options</a></li>
      <li><a>Contact</a></li>
    </ul>
    <button type="button">Consultation by phone</button>
    <svg class="menu-button js-open-menu" aria-expanded="false" aria-controls="mobile-menu" width="20" height="20"
      role="img">
      <use href="images/icons.svg#icon-burger"></use>
    </svg>
  </div>
</header>